<h4>
  Internal Server error - Refreshing the page will make the error disappear
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this, it's not an angular issue
  </p>
  <p>What to do next</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>inspection network tab</li>
    <li>Check the failing request</li>
    <li>Examine the request url, make sure it's correct</li>
  </ol>
  <p>Following is the stackTrace - Investigate here initially!</p>
  <code class="mt-5" style="background-color: whitesmoke">{{
    error.details
  }}</code>
</ng-container>
